:root {
    --primary-color: #E4EBEB; /* Anti flash white */
    --secondary-color: #b88e1d; /* Dark goldenrod */   
    --accent1-color: #183149; /* Dark blue */
    --accent2-color: #B2DCEC; /* Light blue */
    --accent3-color: #76CCE6; /* Sky blue */
    --heading-font: "Amarante", serif;
    --body-font: "Slabo 27px", serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}
header, main, footer {
    width: 840px;
    margin: 0 auto;
}
header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 20px;
    align-items: center;
    border-bottom: 1em solid var(--accent1-color);
    border-radius: 0 0 10px 10px;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
    background-color: var(--accent2-color) ;
}
header img {
    width: 150px;
    justify-self: end;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
}
nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
nav a {
    text-decoration: none;
    padding: 5px;
    background-color: #ffffff;
    border: 1px solid rgb(131, 131, 131);
    width: 100px;
    color: var(--accent1-color);
    text-align: center;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
}
nav a:hover {
    text-decoration: underline;
    background-color: #b4b4b4;
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}
nav, p, section, article {
    margin: 16px;
    padding: 8px;
}
/* Class editors */
.socialmedia a { 
    text-decoration: none;
    border: none;
    width: 50px;
    height: 50px;
    padding: 0;
    margin-left: 15px;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}
.hero {
    position: relative;
    margin: 20px auto;
}
.hero img {
    width: 100%;
    display: block;
    height: auto;
}
.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: rgba(24, 49, 73, 0.7);
    color: var(--primary-color);
}
article {
    position: absolute;
    background-color: rgba(15, 15, 54, 0.534);
    bottom: 20px;
    height: 300px;
    color: var(--primary-color);
}
.hero article img {
    width: 150px;
    float: right;
    box-shadow: 1px 1px 20px rgba(190, 190, 190, 0.432);
    margin: 10px;
}
.history {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
}
.history h2 {
    grid-row: 1/2;
    grid-column: 1/4;
    justify-self: center;
}
.history img {
    justify-self: center;
    align-self: center;
}
.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 50px 1fr;
}
.adventure h2 {
    grid-row: 1/2;
    grid-column: 1/6;
    text-align: center;
    margin-bottom: 20px;
}
.adventure figure, figcaption {
    justify-self: center;
    align-self: center;
}
footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
footer p {
    grid-column: 2/3;
    align-self: center;
}
footer nav {
    grid-column: 3/4;
    align-self: center;
}
footer nav a {
    display: flex;
    align-items: center;
    justify-content: center;
}
.contactFrame {
    display: grid;
    grid-template-columns: 40% 60%;
}
.contactFrame div {
    justify-self: flex-end;
}
.contactFrame h4 {
    padding-top: 2rem;
}
.contact {
    padding: 1rem 2rem;
    margin: 1rem auto;
    border-top: 1em solid var(--secondary-color);
    border-radius: 10px;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
    color: black;
    background-color: honeydew;
}
.contact aside img {
    margin-right: 10px;
}
.teamFrame {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr;
}
.teamFrame h2 {
    grid-area: 1/1/1/5;
}
.teamFrame figure {
    justify-self: center;
}
.teamFrame figcaption {
    font-weight: 700;
}
.centerText {
    text-align: center;
    padding-bottom: 2rem;
}
form {
    width: 500px;
    margin: 0 auto;
    background-color: rgba(240, 240, 240, 0.767);
    border-radius: 5px;
    padding: 1rem 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border: 2px solid rgb(206, 206, 206);
}
form fieldset, form div, form button {
    padding: 1rem;
    border-radius: 0.5rem;
}
form fieldset {
    border: none;
    font-weight: 700;
    margin-top: 20px;
}
fieldset label {
    font-weight: 700;
}
.personalInfo {
    display: flex;
    justify-content: center;
}
.personalInfo div input {
margin-top: 5px;
}
#fullname, #email  {
    border: 2px solid rgb(206, 206, 206);
}
.personalInfo input {
    padding: 0.4rem;
    border: 1px solid darkgray;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}
.radioOption {
    display: grid;
    grid-template-columns: 1rem 1fr;
    column-gap: 10px;
}
.radioOption input {
    grid-column: 1/2;
}
.radioOption label {
    grid-column: 2/3;
    font-weight: 100;
}
fieldset textarea {
    width: 100%;
    border: 2px solid rgb(206, 206, 206);
}
form button {
    display: block;
    margin: 20px auto 0 auto;
    width: 60%;
    font-size: 15px;
    font-weight: 700;
    background-color: var(--accent1-color);
    color: var(--primary-color);
    border: 2px solid rgb(84, 122, 226);
}
form button:hover {
    background-color: rgb(35, 117, 14);
    color: var(--primary-color);
    border: 2px solid rgb(118, 224, 69);
}
.wireFrame {
    text-decoration: none;
    background-color: rgb(135, 228, 189);
    color: black;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}
.wireFrame:hover {
    background-color: rgb(16, 39, 29);
    color: white;
}