:root {
    --primary-color: rgba(0, 0, 0, 0.85); 
    --secondary-color: rgba(0, 0, 0, 0.65); 
    --accent1-color: #c0a21c; 
    --accent2-color: #000000;
    --text-color: #d2fcff; 
    --text-color2: rgb(255, 255, 255);
    --heading-font: "Amarante", serif;
    --body-font: "Slabo 27px", serif;
    --box-shadow: 5px 5px 15px 2px rgba(0, 0, 1, 0.6);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: var(--body-font);
    color: var(--text-color2);
    background-image: url("../images/waterfall.webp");
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    backdrop-filter: blur(9px);
}
header, main, footer {
    width: 840px;
    margin: 0 auto;
}
header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    box-shadow: var(--box-shadow);
    background-color: var(--primary-color);
    height: 80px;
    border-bottom: 0.5rem solid black;
    border-radius: 0 0 0.5rem 0.5rem;
}
header img {
    height: 70px;
    justify-self: center;

}
nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
}
header nav a {
    height: 100%;
    flex-basis: 25%;
    text-decoration: none;
    width: 100px;
    color: var(--text-color2);
    text-align: center;
    align-content: center;
}
nav a:hover {
    background-color: #363636;
    zoom: 1.1;
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--text-color);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.836);
}
p, section, article {
    margin: 16px;
    padding: 8px;
}
/* Class editors */
.contact {
    padding: 1rem 2rem;
    margin: 1.5rem auto;
    border-radius: 10px;
    border-top: 0.5rem solid var(--accent1-color);
    box-shadow: var(--box-shadow);
    background-color: var(--secondary-color);
    transform: scale(1);  
    transition: transform 0.3s ease-in-out;
}
.socialmedia {
    display: flex;
    justify-content: space-evenly;
}
.socialmedia a { 
    align-self: center;
    text-decoration: none;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.hero {
    position: relative;
    margin: auto;
}
.hero img {
    width: 100%;
    display: block;
    height: auto;
    border-radius: 0.5rem;
}
.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: rgba(44, 45, 49, 0.425);
    color: var(--text-color2);
}
.hero h2 {
    position: absolute;
    top: 30%;
    left: 60%;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.836);

}
.hero a {
    position: absolute;
    top: 45%;
    left: 62%;
    padding: 15px;
    background-color: var(--accent1-color);
    color: rgb(0, 14, 39);
    border-radius: 2rem;
    font-family: var(--heading-font);
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    box-shadow: var(--box-shadow);
    transition: 0.3s ease-in-out;
}
.hero a:hover {
    background-color: rgb(17, 35, 83);
    color: var(--text-color2);
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.836);
    transform: scale(1.2);
    transition: 0.5s ease-in-out;
}
.tripLink {
    padding: 15px;
    background-color: var(--accent1-color);
    color: rgb(0, 14, 39);
    border-radius: 2rem;
    font-family: var(--heading-font);
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    box-shadow: var(--box-shadow);
    transition: 0.3s ease-in-out;
}
.tripLink:hover {
    background-color: rgb(17, 35, 83);
    color: var(--text-color2);
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.836);
    transform: scale(1.2);
    transition: 0.5s ease-in-out;
}
article {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.534);
    bottom: 20px;
    height: 300px;
    color: var(--text-color2);
}
.hero article img {
    width: 150px;
    float: right;
    box-shadow: var(--box-shadow);
    margin: 10px;
}
.history {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
}
.history h2 {
    grid-row: 1/2;
    grid-column: 1/4;
    justify-self: center;
}
.history img {
    justify-self: center;
    align-self: center;
}
.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 50px 1fr;
}
.adventure h2 {
    grid-row: 1/2;
    grid-column: 1/6;
    text-align: center;
    margin-bottom: 20px;
}
.adventure figure, figcaption {
    justify-self: center;
    align-self: center;
}
footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--primary-color);
    box-shadow: var(--box-shadow);
    border-radius: 10px 10px 0 0;
    border-top: 0.5rem solid black;
}
footer p {
    grid-column: 2/3;
    align-self: center;
}
footer nav {
    grid-column: 3/4;
    align-self: center;
}
footer nav a {
    display: flex;
    align-items: center;
    justify-content: center;
}
.contactFrame {
    display: grid;
    grid-template-columns: 40% 60%;
}
.contactFrame div {
    justify-self: flex-end;
}
.contactFrame h4 {
    padding-top: 2rem;
}
.contactFrame a {
    width: 200px;
    height: 80px;
    align-self: center;
    text-align: center;
    justify-self: center;
    border-radius: 30px;
}
.contactFrame form {
    width: 250px;
    margin: 15px auto;
    
}
.contact aside img {
    margin-right: 10px;
}
.teamFrame {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr;
}
.teamFrame h2 {
    grid-area: 1/1/1/5;
}
.teamFrame figure {
    justify-self: center;
}
.teamFrame figcaption {
    font-weight: 700;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.856);
}
.centerText {
    text-align: center;
    padding-bottom: 2rem;
}
form {
    width: 500px;
    margin: 0 auto;
    background-color: rgb(206, 206, 223);
    border-radius: 5px;
    padding: 1rem 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border: 2px solid rgb(148, 148, 148);
    color: black;
}
form fieldset, form div, form button {
    padding: 1rem;
    border-radius: 0.5rem;
}
form fieldset {
    border: none;
    font-weight: 700;
    margin-top: 20px;
}
form h3{
    padding: 10px;
    background-color: rgb(43, 49, 131);
    color: var(--text-color2);
    text-align: center;
}
fieldset label {
    font-weight: 700;
}
.personalInfo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.personalInfo div input {
margin-top: 5px;
}
#fullname, #email  {
    border: 2px solid rgb(172, 172, 172);
}
.personalInfo input {
    padding: 0.4rem;
    border: 1px solid darkgray;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}
.radioOption {
    display: grid;
    grid-template-columns: 1rem 1fr;
    column-gap: 10px;
}
.radioOption input {
    grid-column: 1/2;
}
.radioOption label {
    grid-column: 2/3;
    font-weight: 100;
}
fieldset textarea {
    width: 100%;
    border: 2px solid rgb(172, 172, 172);
}
form button {
    display: block;
    margin: 20px auto 0 auto;
    width: 60%;
    font-size: 15px;
    font-weight: 700;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    border: 2px solid rgb(59, 82, 57);
}
form button:hover {
    background-color: rgb(22, 109, 0);
    color: var(--text-color);
    border: 2px solid rgb(74, 218, 60);
}
.wireFrame {
    text-decoration: none;
    background-color: rgb(59, 74, 92);
    color: black;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}
.wireFrame:hover {
    background-color: rgb(0, 23, 39);
    color: white;
}
.home {
    background-color: var(--secondary-color);
}