:root{
  --heading-background-color: rgb(211, 155, 0);
  --heading-text-color: darkgreen;
  --heading-font: 'Montserrat', Helvetica, sans-serif;
  --padding: 1rem;
  --border: 1px solid rgb(0 0 0 / 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--heading-background-color);
    padding: 10px;
  }

  nav a {
    color: white;
    display: block;
    padding: 10px;
  }

  h1 {
    color: var(--heading-text-color);
    padding: 20px;
  }

  main img {
    width: 150px;
    height: auto;
    float: right;
    margin: 0 0 1rem 3rem;
    box-shadow: 0 0 20px darkgray;
    border: 1px solid darkgray;
    padding: 2px;
  }

  p {
    padding: var(--padding);
  }

  main p{
    padding-bottom: 3rem;
  }
  main {
    max-width: 840px;
  }

  aside {
    width: 20rem;
    text-align: center;
    position: relative;
  }

  aside img {
    width: 250px;
    height: auto;
    box-shadow: 0 0 20px gray;
  }

  aside h2 {
    position: absolute;
    top: 20px;
    left: 70px;
  }

  footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
  }

 li {
    padding: 6px;
 }

/* Class selectors */
.box {
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 0.1);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}
