:root {
  --background-color: darkblue;
  --font-type: 'times new roman', serif;
  --padding: 10px;
}

nav {
  background-color: var(--background-color);
  padding: var(--padding);
}
nav a {
  color: white;
  display: block;
  padding: var(--padding);
}
h1 {
  color: var(--background-color);
}
main img {
  width: 150px;
  height: auto;
  border: 1px solid rgb(0 0 0 / 0.5);
  box-shadow: 0 0 30px gray;
}
p {
  padding: 0;
}
main {
  max-width: 840px;
  font-family: var(--font-type);
}
aside{
  width: 20rem;
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 0.2); /* 1️⃣ */
  padding: 1rem;
  background-color: #eee;
  color: #333;
  text-align: center;
}
aside img {
  width: 200px;
  height: auto;
  box-shadow: 0 0 50px gray;
}
footer {
  margin-top: 10px;
  border-top: 1px dotted black;
  text-align: center;
}