:root {
  --background-color: darkblue;
  --font-type: 'times new roman', serif;
  --padding: 10px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  background-color: var(--background-color);
  padding: var(--padding);
}
nav a {
  color: white;
  display: block;
  padding: var(--padding);
}
h1 {
  color: var(--background-color);
}
main img {
  float: right;
  padding: 3px;
  margin: 10px;
  width: 150px;
  height: auto;
  border: 1px solid rgb(0 0 0 / 0.5);
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.411);
}
p {
  padding: 0;
}
main {
  max-width: 600px;
  font-family: var(--font-type);
}
aside{
  position: relative;
  width: 20rem;
  border: 1px solid rgb(0 0 0 / 0.2); /* 1️⃣ */
  text-align: center;
}
aside img {
  width: 100%;
  height: auto;
  box-shadow: 0 0 50px gray;
}
aside h2 {
  position: absolute;
  top: 20px;
  color: white;
  text-shadow: 5px 5px 5px black;
}
footer {
  margin-top: 10px;
  border-top: 1px dotted black;
  text-align: center;
}

/* Class selectors */
.box {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.219);
  background-color: #ddd;
  color: #000;
  clear: both;
}